@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --background:#F0CDEF;;
  --egg-background: #f5a4d6;
  --egg-shadow1: #cca3d2;
  --egg-shadow2: #ffddff;
  --egg-crash: #a0f1d9;
  --pink-shadow: #D869A6;
  --buttons: #FCE79E;
  --screen-color: #d6dacf;
  --grids-outline-color: #b9b9b9;
  --container-shadow: #c4c2c4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body{
  min-height: 100vh;
  font-family: 'Space Mono', monospace;
}

.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background); 
}

.egg {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 60rem;
  height: 70rem;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  box-shadow:   -20px -20px 60px var(--egg-shadow1),
                20px 20px 60px var(--egg-shadow2);
  background: var(--egg-background);
}

.egg-crash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39rem;
  height: 48rem;
  -webkit-clip-path: polygon(14% 14%, 46% 0, 83% 12%, 100% 41%, 93% 84%, 48% 92%, 10% 89%, 2% 48%);
  clip-path: polygon(14% 14%, 46% 0, 83% 12%, 100% 41%, 93% 84%, 48% 92%, 10% 89%, 2% 48%);
  background: var(--egg-crash);
}

 .container {
  display: flex;
  flex-flow: row wrap;
  width: 25rem;
  height: 30rem;
  border-radius: 10px;
  background: var(--screen-color);
  outline: 6px solid var(--grids-outline-color);
  -webkit-box-shadow: inset -1px -1px 11px 5px var(--container-shadow);
  -moz-box-shadow: inset -1px -1px 11px 5px var(var(--container-shadow));
  box-shadow: inset -1px -1px 11px 5px var(var(--container-shadow));
} 

.grids {
  border: 1px solid var(--grids-outline-color);
  border-left: 0;
  border-top: 0;
} 

.hide-grid {
  border: none;
}
