@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --background:#F0CDEF;;
  --egg-background: #f5a4d6;
  --egg-shadow1: #cca3d2;
  --egg-shadow2: #ffddff;
  --egg-crash: #a0f1d9;
  --egg-buttons: #FCE79E;
  --egg-buttons-shadow: #D869A6;
  --controls-buttons: #b3acdb;
  --controls-buttons-shadow:#8274b6;
  --screen-color: #d6dacf;
  --grids-outline-color: #b9b9b9;
  --container-shadow: #c4c2c4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body{
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Space Mono', monospace;
}

.game {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--background); 
}

/* tamagotchi main elements */
.egg {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 60rem;
  height: 70rem;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  box-shadow:   -20px -20px 60px var(--egg-shadow1),
                20px 20px 60px var(--egg-shadow2);
  background: var(--egg-background);
  background-image: url("assets/background.png");
}

.egg-crash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39rem;
  height: 48rem;
  -webkit-clip-path: polygon(14% 14%, 46% 0, 83% 12%, 100% 41%, 93% 84%, 48% 92%, 10% 89%, 2% 48%);
  clip-path: polygon(14% 14%, 46% 0, 83% 12%, 100% 41%, 93% 84%, 48% 92%, 10% 89%, 2% 48%);
  background: var(--egg-crash);
}

/* sketch pad */
 .container {
  display: flex;
  flex-flow: row wrap;
  width: 25rem;
  height: 30rem;
  border-radius: 10px;
  background: var(--screen-color);
  outline: 6px solid var(--grids-outline-color);
  -webkit-box-shadow: inset -1px -1px 11px 5px var(--container-shadow);
  -moz-box-shadow: inset -1px -1px 11px 5px var(var(--container-shadow));
  box-shadow: inset -1px -1px 11px 5px var(var(--container-shadow));
} 

.grids {
  border: 1px solid var(--grids-outline-color);
  border-left: 0;
  border-top: 0;
} 

/* when button clicked */
.hide-grid {
  border: none;
}

/* buttons */
button {
  width: 5.3rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 1.1rem;
  margin-inline: 5px;
}

/* tamagotchi buttons */
.egg-controls > button {
  background: var(--egg-buttons);
  box-shadow: 0px 5px 0px 0px var(--egg-buttons-shadow);
  transition: all ease 0.1s;
}

.egg-controls > button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px var(--egg-buttons-shadow);
}

/* outside control buttons */
.controls {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-left: 6rem;
}

.controls > button {
  background: var(--controls-buttons);
  box-shadow: 0px 5px 0px 0px var(--controls-buttons-shadow);
}

.controls > button:active {
  box-shadow: 0px 0px 0px 0px var(--controls-buttons-shadow);
}

/* color selector */
#select-color {
  -webkit-appearance: none;
  padding: 0;
  margin-left: 4px;
  border: none;
  border-radius: 30px;
  width: 5.4rem;
  height: 5.4rem;
}
#select-color::-webkit-color-swatch {
  border: none;
  border-radius: 30px;
  padding: 0;
}
#select-color::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 30px;
  padding: 0;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  font-size: 1.6rem;
  gap: 1rem;
  margin-top: -5rem;
}

.footer-img {
  width: 2.6rem;
  height: 2.6rem;
}

.me {
  text-decoration: none;
  color: var(--egg-buttons-shadow);
  font-weight: 700;
}

.me:hover {
  border-bottom: 2px solid var(--egg-crash);
  transition: 0.3s;
}